@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  }
  
  #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
      grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sidebar navbar navbar"
      "sidebar content content"
      "sidebar content content";
    overflow: hidden;
    padding: 0;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  }
  
  .content {
    grid-area: 1 / 2 / 4 / 4;
    padding: 60px 0 0 20px;
      overflow-y: scroll;
  }
  
  .sidebar {
    grid-area: 1 / 1 / 4 / 2;
  }
  
  .navbar {
    grid-area: 1 / 2 / 2 / 4;
}
