/* sidebar */
.sidebar {
    background: #1c2537;
        width: 15rem;
        padding: 0px 10px;
    overflow-y: scroll;
    transition: all 0.5s ease;
    height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1.8fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "sideHead sideHead sideHead"
            "sideContent sideContent sideContent"
            "sideFoot sideFoot sideFoot";
}
    
.sideHead {
    grid-area: sideHead;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.859);
}

.sideContent {
    grid-area: sideContent;
    color: white;
}

.sideFoot {
    grid-area: sideFoot;
}

.sideHead h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.main_logo {
    width: 80%;
    aspect-ratio: 1.5/1;
    object-fit: contain;
    mix-blend-mode: lighten;
}
.sidebar.close {
    padding: 60px 0;
    width: 80px;
}
.sidebar::-webkit-scrollbar {
    display: none;
}

.navlink_icon {
    position:relative;
    font-size: 21px;
        min-width: 30px;
        object-fit: contain;
    text-align: center;
    border-radius: 6px;
    padding: 0;
}

.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}


.sidebar .nav_link {
    margin: 10px 0;
    padding: 0 0 0 1rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    width: 100%;
        aspect-ratio: 5/1;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar.close .navlink {
    display: none;
}

.nav_link:hover {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}


.menu_items .nav_link:hover .navlink {
    color:
        var(--white-color);
}

.nav_link:hover .navlink_icon {
    color: var(--white-color);
}

.sidebar.close .nav_link:hover {
    background: var(--white-color);
}

.submenu_item {
    cursor: pointer;
}

.submenu {
    display: none;
}

.sidebar.close .submenu {
    display: none;
}

.show_submenu~.submenu {
    display: block;
}

.show_submenu .arrow-left {
    transform: rotate(90deg);
}

.submenu .sublink {
    padding: 15px 15px 15px 52px;
}

.sidebar.hoverable .collapse_sidebar {
    display: none;
}

#sidebarOpen {
    display: none;
}
.active {
    background-color: var(--active-color);
}
.active .navlink_icon {
    color: var(--dark-color);
}
.active .navlink {
    color: var(--dark-color);
}
@media screen and (max-width < 500px) {
    #sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .sidebar.close {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }
}